/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url(https://fonts.bunny.net/css?family=acme:400|alegreya-sans:300|alegreya-sans-sc:500i|amarante:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sb-track-color: #000000;
  --sb-thumb-color: #888;
  --sb-thumb-hover-color: #555;
  --sb-size: 8px;
}
@font-face {
  font-family: "PriceDown";
  src: url("./assets/fonts/pricedow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heart Breaking Bad";
  src: url("./assets/fonts/Heart Breaking Bad.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "POKERFACE";
  src: url("./assets/fonts/POKERFACE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Hide the default scrollbar */
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

